/**------------------------------------------------------------------------
 **                            APP/ROOT STYLE SHEET
 *------------------------------------------------------------------------**/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import 'refs.scss';

@import 'toolbar.scss';
@import 'homepage.scss';
@import 'landingpage.scss';
@import 'profile.scss';
@import 'login.scss';
@import 'registry.scss';
@import 'shoppingcart.scss';
@import 'shoppingitem.scss';
@import 'shoppinglist.scss';
@import 'searchbar.scss';
@import 'footer.scss';

//* Direct HTML tags edited here 
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}

label {
    color: map-get($primary-colors, 'component-text');
    &.label-light {
        color: map-get($primary-colors, 'component-text-inverse');
    }
}


