/**------------------------------------------------------------------------
 **                            LOGIN STYLES
 *------------------------------------------------------------------------**/

#login-container {
    display: flex;
    flex-direction: column;
    background: map-get($complex-colors, "component-bg-gn-gn" );
}

#login-window {
    margin: 5vh 25vw 5vh 25vw;
    padding: 1vh 2vw 8vh 2vw;
    background-color: map-get($primary-colors, "component-text");
    border-radius: 15px;
}

#login-header {
    display: flex;
    justify-content: center;
    color: map-get($primary-colors, "component-text-inverse");
}

#login-body {
    display: flex;
    padding: 5% 5% 5% 5%;
    align-items: center;
    align-content: space-evenly;
    flex-direction: column;
    gap: 5px;
    transform: scale(1.3);
}
