/**------------------------------------------------------------------------
 **                            LOGIN STYLES
 *------------------------------------------------------------------------**/

#login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#login-window {
    margin: 5vh 20vw 5vh 20vw;
    padding: 5vh 2vw 5vh 2vw;
    background-color: map-get($primary-colors, "component-bg");
}

#login-header {
    display: flex;
    justify-content: center;
    color: map-get($primary-colors, "component-text");
}

#login-body {
    display: flex;
    padding: 5% 5% 5% 5%;
    align-items: center;
    align-content: space-evenly;
    flex-direction: column;
    gap: 5px;
    transform: scale(1.3);
}
