/**------------------------------------------------------------------------
 **                            PROFILE STYLES 😶
 *------------------------------------------------------------------------**/

#profile-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
