/**------------------------------------------------------------------------
 **                            REGISTRY STYLES
 *------------------------------------------------------------------------**/

#registry-container {
    display: flex;
    flex-direction: column;
    background: map-get($complex-colors, "component-bg-gn-gn" );
}

#registry-window {
    margin: 5vh 25vw 5vh 25vw;
    padding: 1vh 2vw 8vh 2vw;
    background-color: map-get($primary-colors, "component-text");
    border-radius: 15px;
}

#registry-header {
    display: flex;
    justify-content: center;
    color: map-get($primary-colors, "component-text-inverse");
}

#registry-body {
    display: grid;
    grid-template-rows: 6;
    column-gap: 8%;
    align-items: center;
    justify-items: center;
    transform: scale(1.2);
}