/**------------------------------------------------------------------------
 **                            SHOPPING LIST STYLES
 *------------------------------------------------------------------------**/

#shopping-list-container {
    display: flex;
    flex-direction: column;
}

#shopping-list-body {
    display: flex;
    flex-direction: column;
}

.shopping-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5%;
    margin: 0vw 5vw 5vw 5vw;
    padding: 0px;
}

#shopping-list-item {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}