/**------------------------------------------------------------------------
 **                            SHOPPING ITEM STYLES
 *------------------------------------------------------------------------**/

#shopping-item-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}