/**------------------------------------------------------------------------
 **                            CART STYLES
 *------------------------------------------------------------------------**/

#shopping-cart-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
